/* .bento-bg {
  @apply bg-cover bg-center bg-no-repeat;
} */

/* .cell1-bg {
  @apply bento-bg;
  background-image: url("/images/home-bento/small-background-light-x1.webp");
}
.dark .cell1-bg {
  background-image: url("/images/home-bento/small-background-dark-x1.webp");
}

@media (min-width: 768px) {
  .cell1-bg {
    background-image: url("/images/home-bento/small-background-light-x2.webp");
  }
  .dark .cell1-bg {
    background-image: url("/images/home-bento/small-background-dark-x2.webp");
  }
}

@media (min-width: 1024px) {
  .cell1-bg {
    background-image: url("/images/home-bento/small-background-light-x3.webp");
  }
  .dark .cell1-bg {
    background-image: url("/images/home-bento/small-background-dark-x3.webp");
  }
} */

/* .cell2-bg {
  @apply bento-bg;
  background-image: url("/images/home-bento/small-background-reverse-light-x1.webp");
}
.dark .cell2-bg {
  background-image: url("/images/home-bento/small-background-reverse-dark-x1.webp");
}

@media (min-width: 768px) {
  .cell2-bg {
    background-image: url("/images/home-bento/large-background-light-x2.webp");
  }
  .dark .cell2-bg {
    background-image: url("/images/home-bento/large-background-dark-x2.webp");
  }
}

@media (min-width: 1024px) {
  .cell2-bg {
    background-image: url("/images/home-bento/large-background-light-x3.webp");
  }
  .dark .cell2-bg {
    background-image: url("/images/home-bento/large-background-dark-x3.webp");
  }
} */

/* .cell3-bg {
  @apply bento-bg;
  background-image: url("/images/home-bento/small-background-light-x1.webp");
}
.dark .cell3-bg {
  background-image: url("/images/home-bento/small-background-dark-x1.webp");
}

@media (min-width: 768px) {
  .cell3-bg {
    background-image: url("/images/home-bento/large-background-reverse-light-x2.webp");
  }
  .dark .cell3-bg {
    background-image: url("/images/home-bento/large-background-reverse-dark-x2.webp");
  }
}

@media (min-width: 1024px) {
  .cell3-bg {
    background-image: url("/images/home-bento/large-background-reverse-light-x3.webp");
  }
  .dark .cell3-bg {
    background-image: url("/images/home-bento/large-background-reverse-dark-x3.webp");
  }
} */

/* .cell4-bg {
  @apply bento-bg;
  background-image: url("/images/home-bento/small-background-reverse-light-x1.webp");
}
.dark .cell4-bg {
  background-image: url("/images/home-bento/small-background-reverse-dark-x1.webp");
}

@media (min-width: 768px) {
  .cell4-bg {
    background-image: url("/images/home-bento/small-background-light-x2.webp");
  }
  .dark .cell4-bg {
    background-image: url("/images/home-bento/small-background-dark-x2.webp");
  }
}

@media (min-width: 1024px) {
  .cell4-bg {
    background-image: url("/images/home-bento/small-background-light-x3.webp");
  }
  .dark .cell4-bg {
    background-image: url("/images/home-bento/small-background-dark-x3.webp");
  }
} */
